{
"name": "react-ts",
"private": true,
"version": "0.0.0",
"type": "module",
"scripts": {
"dev": "vite",
"build": "tsc -b && vite build",
"lint": "eslint .",
"preview": "vite preview"
},
"dependencies": {
"@fullcalendar/core": "^6.1.15",
"@fullcalendar/daygrid": "^6.1.15",
"@fullcalendar/interaction": "^6.1.15",
"@fullcalendar/list": "^6.1.15",
"@fullcalendar/react": "^6.1.15",
"@fullcalendar/timegrid": "^6.1.15",
"@react-jvectormap/core": "^1.0.4",
"@react-jvectormap/world": "^1.1.2",
"@reduxjs/toolkit": "^2.9.2",
"@tailwindcss/vite": "^4.1.14",
"antd": "^5.28.1",
"apexcharts": "^4.1.0",
"axios": "^1.12.2",
"classnames": "^2.5.1",
"clsx": "^2.1.1",
"flatpickr": "^4.6.13",
"jwt-decode": "^4.0.0",
"object-to-formdata": "^4.5.1",
"react": "^19.1.1",
"react-apexcharts": "^1.7.0",
"react-dnd": "^16.0.1",
"react-dnd-html5-backend": "^16.0.1",
"react-dom": "^19.1.1",
"react-dropzone": "^14.3.5",
"react-helmet-async": "^2.0.5",
"react-redux": "^9.2.0",
"react-router": "^7.9.4",
"swiper": "^11.2.3",
"tailwindcss": "^4.1.14"
},
"devDependencies": {
"@eslint/js": "^9.36.0",
"@types/node": "^24.6.0",
"@types/react": "^19.1.16",
"@types/react-dom": "^19.1.9",
"@vitejs/plugin-react": "^5.0.4",
"eslint": "^9.36.0",
"eslint-plugin-react-hooks": "^5.2.0",
"eslint-plugin-react-refresh": "^0.4.22",
"globals": "^16.4.0",
"typescript": "~5.9.3",
"typescript-eslint": "^8.45.0",
"vite": "^7.1.7"
},
"overrides": {
"react-helmet-async": {
"react": "^16.8.0 || ^17 || ^18 || ^19"
},
"@react-jvectormap/core": {
"react": "^16.8.0 || ^17 || ^18 || ^19",
"react-dom": "^16.8.0 || ^17 || ^18 || ^19"
},
"@react-jvectormap/world": {
"react": "^16.8.0 || ^17 || ^18 || ^19",
"react-dom": "^16.8.0 || ^17 || ^18 || ^19"
}
}
}
 